.terms-container {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.terms-container::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: #f0f0f0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    z-index: -1;
}

.terms-content {
    position: relative;
    z-index: 1;
}

.terms-container h2,
.terms-container h3 {
    color: gray;
}

.terms-container p {
    line-height: 1.6;
}